@using Session3.Models;
@model List<Student>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <div class="container">
        @{
            // List<Student> students = ViewBag.students;
           
            List<Student> students = Model;
        }

        @Html.ActionLink("Add Student","Insert")
        
        <h1>Student List</h1>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date Of Join</th>
                <th></th>
            </tr>
            @foreach (var student in students)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.Name</td>
                    <td>@student.DateOfJoin</td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = student.Id }) |
                        @Html.ActionLink("Chi tiết", "Chitiet", new { id = student.Id })
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
